@model mvcIsIstek.App_Data.tbMakinalar

@{
    ViewBag.Title = "MakinaKarti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Makina Bilgi Karti</h2>

<div>
 	<hr />
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3" style="background-color:yellow">
				<div>
					@{
				if (Model.Fotoğrafı != null)
				{
					<img src="data:image/png;base64,
                    @Convert.ToBase64String(Model.Fotoğrafı,
                    Base64FormattingOptions.None)"
							 class="img-rounded" width="350" height="250"
							 alt="Image" />
		}
					}

				</div>
			</div>

			<div class="col-md-3" style="background-color:lawngreen">
				<div>
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Kodu)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Kodu)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Tanımı)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Tanımı)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Grubu)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Grubu)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Tipi)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Tipi)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.SeriNo)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.SeriNo)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Markası)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Markası)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Modeli)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Modeli)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Açıklaması)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Açıklaması)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.tbLokasyonTanimlari.Lokasyon)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.tbLokasyonTanimlari.Lokasyon)
						</dd>

					</dl>
				</div>
			</div>
			<div class="col-md-3"></div>


		</div> 
</div>
<p>
	<hr />
	<div class="row">
		<div class="col-md-2"></div>
		@Html.ActionLink("Edit", "Edit", new { id = Model.MakinaID }) |
		@Html.ActionLink("Back to List", "Index")
	</div>
 
	<hr />
</p>
